fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
geopy
requests
httpx
psycopg2-binary
redis
boto3
python-multipart
firebase-admin
google-cloud-firestore
google-cloud-storage
tenacity
email-validator
